@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

*,
*::before,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 90.4%; 
  margin: 0 auto;
}

/* common styling */
.flex { display: flex; }
.bold { font-weight: 600; }
.italic { font-style: italic; }
a { font-family: 'Raleway', sans-serif; }

.heading {
  font-size: 40px;
  color: var(--primary-color);
}

:root {
  --primary-color: #3476A8;
  --font-color: #A1867C;
  --white-color: #fff;
  --black-color: #000;
}

/*=================================
  Header styling starts here
=================================*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header .wrapper {
  padding: 17px 0;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 23px;
  color: var(--white-color);
  font-weight: 900;
}

.nav-item {
  margin: 0 30px;
  color: var(--white-color);
  font-size: 19px;
}

.hamburger {
  display: none;
}

.bar {
  width: 25px;
  height: 3px;
  margin: 3px;
  display: block;
  background-color: var(--black-color);
  text-indent: -9999px;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/*------------------------ hero section styling starts here ------------------------*/
.hero-section .wrapper {
  padding: 243px 20% 100px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--white-color);
  background: url(../images/infinite-loop-01.jpg) center no-repeat;
  background-size: cover ;
  object-fit: cover;
}

.banner-heading {
  margin-bottom: 14px;
  font-size: 55px;
  font-weight: 600;
}

.banner-info {
  font-size: 20px;
  line-height: 32px;
}

.banner-cta {
  width: 14%;
  height: 68px;
  margin-top: 178px;
  background-color: #345679;
  position: relative;
}

.next-section-btn {
  display: inline-block;
  text-indent: -9999px;
}

.next-section-btn::before {
  content: "\f063";
  font-family: "FontAwesome";
  float: left;
  text-indent: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 37px;
  font-weight: 900;
  color: var(--white-color);
}
/*------------------------ hero section styling ends here ------------------------*/
/*------------------------ what we do section styling starts here ------------------------*/
.what-we-do {
  padding: 108px 0 100px;
}

.what-we-do .heading {
  margin-bottom: 35px;
}

.service-content {
  color: var(--font-color);
  font-size: 19px;
  line-height: 35px;
}

.service-heading {
  margin-bottom: 34px;
  color: var(--primary-color);
  font-size: 31px;
  font-weight: 600;
}

.service-list {
  margin-top: 84px;
  flex-wrap: wrap;
}

.service-item {
  flex-basis: 50%;
  margin-bottom: 122px;
  padding-right: 1%;
}

.users { padding-right: 0; }

.service-info {
  color: var(--font-color);
  font-size: 19px;
  line-height: 36px;
}

.service-item::before {
  content: "\e0e3";
  font-family: "FontAwesome";
  float: left;
  color: var(--primary-color);
  font-size: 50px;
  height: 100%;
  margin:0 7% 1px 1%;
}

.chat::before { content: "\f27a"; }
.fingerprint::before { content: "\f577"; }
.users::before { content: "\f0c0"; }

.learn-btn,
.details-btn {
  padding: 16px 29px;
  margin-top: 34px;
  font-size: 19px;
  color: var(--white-color);
  background-color: var(--primary-color);
}

.service-anc { color: var(--primary-color); }
/*------------------------ what we do section styling ends here ------------------------*/
/*------------------------ testimonials section styling starts here ------------------------*/
.testimonials {
  padding: 98px 0;
  background: url(../images/infinite-loop-02.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--white-color);
  object-fit: cover;
}

.testimonials .heading {
  margin-bottom: 40px;
  color: var(--white-color);
  text-align: center;
}

.subtitle-info {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  line-height: 28px;
}

.testimonial-list {
  margin-top: 90px;
  padding: 0 10.5%;
  flex-wrap: wrap;
}

.testimonial-item {
  flex-basis: 29%;
  margin-right: 6.5%;
}

.testimonial-item:nth-child(3n) {
  margin-right: 0;
}

.testimonial-item figure {
  margin-bottom: 42px;
  text-align: center;
}

.testimonial-image {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial-info {
  margin-bottom: 28px;
  line-height: 28px;
}

.testimonial-item { display: none; }

.testimonial-item:nth-child(1),
.testimonial-item:nth-child(2),
.testimonial-item:nth-child(3) {
  display: block;
}

.testimonial-names {
  display: block;
  text-align: right;
}
/*------------------------ testimonials section styling ends here ------------------------*/
/*------------------------ Gallery section styling starts here ------------------------*/
.gallery {
  padding: 115px 0;
}

.gallery .heading {
  margin-bottom: 27px;
  text-align: center;
}

.gallery .subtitle-info {
  color: var(--font-color);
  width: 50%;
  font-size: 13px;
}

.gallery-list {
  flex-wrap: wrap;
}

.gallery-item {
  margin-right: 2.85%;
  flex-basis: 17.7%;
}

.gallery-item:nth-child(5n) {
  margin-right: 0;
}
/*------------------------ Gallery section styling ends here ------------------------*/
/*------------------------ contact section styling starts here ------------------------*/
.contact {
  padding: 70px 0 0;
  background: url(../images/infinite-loop-03.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--white-color);
  object-fit: cover;
}

.contact .heading {
  margin-bottom: 45px;
  color: var(--white-color);
  text-align: center;
}

.contact .subtitle-info {
  width: 78%;
  margin-bottom: 85px;
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
}

.contact-container {
  padding: 0 9% 174px;
}

.form {
  margin-right: 9.5%;
  flex-basis: 44%;
}

.input-group input,
.message {
  width: 100%;
  padding: 15px 20px;
  border: 1px solid var(--white-color);
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: transparent;
  outline: none;
}

.form input::placeholder,
.message::placeholder {
  color: var(--white-color);
  font-size: 18px;
}

.message {
  height: 268px;
  resize: none;
}

.submit-btn {
  width: 55%;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 17px;
}

.social-list {
  flex-direction: column;
}

.social-list li { margin: 25px 0; }

.social-icon {
  color: var(--white-color);
  display: flex;
  align-items: center;
  font-size: 18px;
}

.social-icon::before {
  content: "\f075";
  margin-right: 25px;
  font-family: "FontAwesome";
  float: left;
  font-size: 40px;
}

.envelope::before { content: "\f0e0"; }
.address::before { content: "\f3c5"; }
.phone::before { content: "\f87b"; }
/*------------------------ contact section styling ends here ------------------------*/






/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  